@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display&display=swap');

:root {
    --bg-color-light: hsl(40, 100%, 99%);
    --bg-color-lighter: hsl(0, 0%, 98%);
    --border-color: hsla(0, 33%, 1%, 0.169);
    --clr-orange: hsl(16, 84%, 55%);
    --clr-dark: hsl(0, 18%, 10%);
    --text-clr-faded: hsla(0, 18%, 10%, 0.678);
    --ff-main: 'Montserrat', sans-serif;
    --ff-secondary: 'Playfair Display', serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 600;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 20%;
}

.header__logo img {
    fill: var(--clr-orange);
}

.header__nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
